.register-btn {
    font-size: small;
    background-color: #00A651;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
	

}

.register-btn:disabled{
	background-color: lightgrey;
	cursor: default;
}

.search-item-wrapper {
    margin-top: 20px;

    .search-item-titles {
        display: grid;
        grid-template-columns: repeat(10, 1fr);

        div {
            font-size: small;
            color: grey;
        }
    }
}

.date-field {
    display: flex;
    margin-top: 20px;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 30px;
	background-color: #f5f5f5;
    border-radius: 15px;
	
    .search-field {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .search-btn {
        background-color: #00A651;
        color: white;
        width: 100px;
        height: 35px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 30px;
        font-size: small;

        &.reset {
            background-color: grey;
        }
    }

    .search-row {
        display: flex;
        margin-top: 20px;
    }
}

table{
	width:75%;
	border: 1px solid #f5f5f5;

	.course-content tr td{
		text-align: unset;
	}
	tr td{
		text-align: center;
	}
	thead tr{
		background-color: #f5f5f5;
	}

	th{
		border: 1px solid #f5f5f5;
	}

	th{
		border: 1px solid #f5f5f5;
	}
}